<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>
    <h2>Учет животных, птиц, рептилий в зоопарке</h2>

<table style="width:100%">
  <tr>
    <td>
        Pets
    </td>
    <td>
        Caretaker
    </td>
    <td>
        Veterinarian
    </td>
  </tr>
    <tr>
    <td>
        {% for pets in pet %}
        <p>Имя: {{ pets.pseudonym }}</p>
        <p>{{pets.caretaker}}</p>
        <hr>
        {% endfor %}
    </td>
    <td>
        {% for caretaker in care %}
        <p>Имя: {{ caretaker.name_is }}</p>
        <p>{{caretaker.gender}}</p>
        {% endfor %}
    </td>
    <td>
        {% for vet in vet %}
        <p>Имя: {{ vet.name }}</p>
        {% endfor %}
    </td>
  </tr>
</table>

</body>
</html>